{% extends 'layout/header.html' %}



{% block content %}
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        新增问题趋势
                    </div>
                    <div class="panel-body">
                        <div id="chart" style="width:100%;min-height:200px">假装这里有个highcharts插件</div>
                    </div>
                </div>


                {% endblock %}

{% block js %}
{% endblock %}