{% extends 'layout/basic.html' %} {% load static %} {% block title %} 模具档案
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'web/css/account.css' %}" />
<style>
  .error-msg {
    color: red;
    position: absolute;
    font-size: 13px;
  }
</style>
{% endblock %} {% block content %}
<div class="account">
  <h1 style="text-align: center">模具档案</h1>
  <form id="addForm" method="POST" novalidate>
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      <span class="error-msg"></span>
    </div>

    {% endfor %}
    <input
      id="btnAddSubmit"
      type="button"
      class="btn btn-primary"
      value="保 存"
    />
  </form>
</div>
{% endblock %} {% block js %}
<script>
  var POST_ADDRPART= {% url 'addrpart' tool_id=request.tool_id %};

  //页面框架加载完成自动执行
  $(function () {
    bindClickBtnSubmit();
  });

  /*
   * 点击注册提交
   * */
  function bindClickBtnSubmit() {
    $("#addForm").find(".error-msg").empty();
    $("#btnAddSubmit").click(function () {
      $.ajax({
        url: POST_ADDRPART,
        type: "POST",
        data: $("#addForm").serialize(),
        dataType: "JSON",
        success: function (res) {
          if (res.status) {
            location.href = location.href;
          } else {
            $.each(res.error, function (key, value) {
              $("#id_" + key)
                .next()
                .text(value[0]);
            });
          }
        },
      });
    });
  }
</script>
{% endblock %}
