{% extends "account/base.html" %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
| <a href="{% url 'account_email' %}">Manage Email</a>  | <a href="{% url 'account_change_password' %}">Change Password</a> |
<a href="{% url 'account_logout' %}">Logout</a>
{% endif %}
<p>Welcome, {{ user.username }}.
    {% if not user.profile.account_verified %}
    (Unverified email.)
    {% endif %}
</p>

<body style="overflow:hidden;">
<div class="ibox-content">
   <div class="row">
      <div id="crop-avatar" class="col-md-6">
         <div class="avatar-view" title="点击更换头像" >
            <img src="{{ user.profile.get_avatar_url }}" >
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <form class="avatar-form" action="{% url 'myaccount:ajax_avatar_upload' %}" enctype="multipart/form-data" method="post">
            <div class="modal-header">
               <button class="close" data-dismiss="modal" type="button">&times;</button>
               <h4 class="modal-title" id="avatar-modal-label">上传头像</h4>
            </div>
            <div class="modal-body">
               <div class="avatar-body">
                  <div class="avatar-upload">
                     <input class="avatar-src" name="avatar_src" type="hidden">
                     <input class="avatar-data" name="avatar_data" type="hidden">
                     <label for="avatarInput">图片上传</label>
                     <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
                  <div class="row">
                     <div class="col-md-9">
                        <div class="avatar-wrapper"></div>                     </div>
                     <div class="col-md-3">
                        <div class="avatar-preview preview-lg"></div>
                        <div class="avatar-preview preview-md"></div>
                        <div class="avatar-preview preview-sm"></div>
                     </div>
                  </div>
                  <div class="row avatar-btns">
                     <div class="col-md-9">
                                   <div class="btn-group">
                           <button class="btn" data-method="zoom" data-option="0.1" type="button" title="放大图片"><i class="fa fa-repeat"></i> 放大图片</button>
                        </div>
                                <div class="btn-group">
                           <button class="btn" data-method="zoom" data-option="-0.1" type="button" title="缩小图片"><i class="fa fa-repeat"></i> 缩小图片</button>
                        </div>
                                <div class="btn-group">
                           <button class="btn" data-method="setDragMode" data-option="move" type="button" title="移动图片"><i class="fa fa-repeat"></i> 移动图片</button>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i>保存修改</button>
                     </div>
                  </div>
               </div>
            </div>
            {% csrf_token %}
      </form>
   </div>
  </div>
</div>

<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

</body>

<h2>My Profile (<a href="{% url 'myaccount:profile_update' %}">Edit</a> )</h2>


<ul>
    <li>First Name: {{ user.first_name }} </li>
    <li>Last Name: {{ user.last_name }} </li>
    <li>Organization: {{ user.profile.org }} </li>
</ul>

{% endblock %}

{% block css %}

<link href="{% static 'myaccount/cropper/cropper.min.css' %}" rel="stylesheet">
<link href="{% static 'myaccount/sitelogo/sitelogo.css' %}" rel="stylesheet">

{% endblock %}

{% block js %}

<script src="{% static 'myaccount/bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'myaccount/cropper/cropper.min.js' %}"></script>
<script src="{% static 'myaccount/sitelogo/sitelogo.js' %}"></script>
<script src="{% static 'myaccount/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}