{% extends 'layout/basic.html' %}

{% load static %}

{% block title %} 首页 {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/plugin/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'web/css/carousel.css' %}">

{% endblock %}

{% block content %}

  <!-- banner 开始 -->
  <div id="focusslide" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

    {% for banner in banner_list %}
    {% if banner.is_active %}
      <li data-target="#focusslide" data-slide-to="{{banner.idx}}" class="active"></li>
    {% else %}
      <li data-target="#focusslide" data-slide-to="{{banner.idx}}"></li>
    {% endif %}
    {% endfor %}

    </ol>
    <div class="carousel-inner" role="listbox">

    {% for banner in banner_list %}
    {% if banner.is_active %}
      <div class="item active">
      <a href="{{banner.link_url}}" target="_blank" title="{{banner.title}}" >
      <img src="{{banner.cover}}" alt="{{banner.title}}" class="img-responsive"></a>
      </div>
    {% else %}
      <div class="item">
      <a href="{{banner.link_url}}" target="_blank" title="{{banner.title}}" >
      <img src="{{banner.cover}}" alt="{{banner.title}}" class="img-responsive"></a>
      </div>
    {% endif %}
    {% endfor %}

    </div>
    <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">上一个</span> </a>
  <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">下一个</span> </a>
  </div>

  <!-- banner 结束 -->



<div class="bs-example" data-example-id="contextual-panels" style="
    margin-top: 20px" >

    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-search" aria-hidden="true"></i>
        模具搜索
      </div>
      <div class="panel-body">
<form class="form-inline" method="get" action="/search/">

  <div class="form-group">
    <label class="sr-only" >模具定置</label>
    <div class="input-group">
      <div class="input-group-addon">模具编号:</div>
      <input type="text" class="form-control" name="local_mould_id" placeholder="DSM-???">
      </div>
      <div class="input-group">
      <div class="input-group-addon">部品番号:</div>
      <input type="text" class="form-control" name="local_part_no" placeholder="分件号">
      </div>
  <button type="submit" formaction="search/" class="btn btn-primary ">查询</button>

</div>
</form>
</div>
    </div>
        
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <i class="glyphicon glyphicon-road" aria-hidden="true"></i>  参数查询
      </div>
<div class="panel-body">
  <form class="form-inline">
    <div class="form-group">
     <label class="sr-only" for="exampleInputAmount">焊接参数</label>
     <div class="input-group">
      <div class="input-group-addon">设备编号:</div>
      <input type="text" class="form-control" name="equipment" placeholder="焊接编号">
    </div>
      <div class="input-group">
      <div class="input-group-addon">部品番号:</div>
      <input type="text" class="form-control" name="part_no" placeholder="分件号">
      </div>
      <button type="submit" formaction="wsearch/" class="btn btn-success" >查询</button>
  </form>
  </div>
</div>
    
    </div>
  </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="fa fa-list-alt" aria-hidden="true"></i>  标准件
      </div>
<div class="panel-body">
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" >备件标准件</label>
    <div class="input-group">
      <div class="input-group-addon">D</div>
      <input type="text" class="form-control" name="D">
      </div>
      <div class="input-group">
      <div class="input-group-addon">L</div>
      <input type="text" class="form-control" name="L">
      </div>
      <div class="input-group">
      <div class="input-group-addon">P</div>
      <input type="text" class="form-control" name="P">
      </div>
      <div class="input-group">
      <div class="input-group-addon">W</div>
      <input type="text" class="form-control" name="W">
      </div>
  <button type="submit" formaction="search3" class="btn btn-info" >查询</button>
</form>
      </div>
    </div>
    
    </div>
  </div>

{% endblock %}


{% block js %}


{% endblock %}
